[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[user]
	name = RAKT1M004
	email = 147612260+RAKT1M004@users.noreply.github.com
